formatter.name: pretty
extensions:
  FriendsOfPhpspec\PhpspecRequires\PhpspecRequires: ~
  FriendsOfPhpSpec\PhpSpec\CodeCoverage\CodeCoverageExtension:
    format:
      - clover
      - php
      - text
    output:
      html: build/coverage
      clover: build/logs/clover.xml
      php: build/coverage.php